* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

/* ---------- HEADER (RIPO + MENU) ---------- */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F6F8FA;
    padding: 15px 40px;
    height: 60px;
}

#logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

#logo img {
    width: 50px;
    height: 50px;
}

#logo span {
    font-size: 24px;
    font-weight: 700;
    color: #192156;
}

.lang-btn  {
     padding: 6px 16px;
    font-size: 14px;
    border-radius: 20px;
    background: #f3f3f3;
    border: 1px solid #ccc;
    cursor: pointer;
}
.lang-btn .lang {
    background: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

/* ---------- HERO : TWO COLUMN ---------- */

body {
    background: #ffffff;
}

.hero {
    max-width: 1100px;
    margin: 0 auto;
    padding: 60px 40px;
    display: flex;
    align-items: center;
    gap: 60px;
}

/* LEFT IMAGE */
.hero-left {
    flex: 1;
}

.hero-left img {
    width: 100%;
    height: auto;
    display: block;
}

/* RIGHT CONTENT */
.hero-right {
    flex: 1;
}

.title {
    font-size: 32px;
    font-weight: 700;
    color: #102258;
    margin-bottom: 12px;
}

.subtitle {
    font-size: 14px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 30px;
}

/* buttons */
.btn-group {
    display: flex;
    gap: 14px;
    margin-bottom: 25px;
}

.login-btn {
    background: #3e5bfd;
    color: #fff;
    padding: 12px 35px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
     text-decoration: none;
}

.signup-btn {
    background: transparent;
    color: #3e5bfd;
    padding: 12px 28px;
    border-radius: 10px;
    border: 2px solid #3e5bfd;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
     text-decoration: none;
}

.or-text {
    margin: 10px 0;
    color: #666;
}

/* social icons */
.social-icons {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.social-icons img {
    width: 38px;
    cursor: pointer;
}

/* terms */
.terms {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    font-size: 13px;
    color: #444;
    max-width: 360px;
}

.terms a {
    color: #3e5bfd;
    text-decoration: none;
}

/* ---------- RESPONSIVE (MOBILE) ---------- */

@media (max-width: 768px) {
    .main-header {
        padding: 12px 20px;
    }

    #nav-links {
        gap: 20px;
        font-size: 14px;
    }

    .hero {
        flex-direction: column;
        padding: 30px 20px 50px;
        text-align: center;
    }

    .hero-right {
        text-align: center;
    }

    .terms {
        margin: 0 auto;
        text-align: left;
    }
}
